<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Create User</h5>

                <div id="createUser">
                <form>
                    {{!-- username --}}
                    <div class="form-group">
                    <label for="formGroupExampleInput">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="username input">
                    </div>

                    {{!-- password --}}
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Password:</label>
                    <input type="text" class="form-control" id="password" placeholder="password input">
                    </div>

                    {{!-- submit button --}}
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
                </div>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
