<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
        
          <h4>Welcome {{username}}</h4>

          <h5 class="card-title">LOAD CARDS</h5>

          <ul>
            {{#each cards }}
            <p>Card id: {{dataValues.id}}</p>
            <p>Card number: {{dataValues.card_number}}</p>
            
            {{!-- button to view the receipts under the card --}}
            <button class="viewReceipts">View Receipts</button>

            <div class="graphDiv"></div>
            
            {{/each}}
          </ul>

          
<script>

</script>
          
            <a href="/">← Back To Home</a>
            <a href="/addReceipt/{{{id}}}">Add Receipt</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/js/viewReceipts.js"></script>