<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
        
          <h4>Welcome {{username}}</h4>

          <h5 class="card-title">LOAD CARDS</h5>
          <p>
            <strong>ID</strong>: {{id}}</p>
          <p>
          <p>
            <strong>Card</strong>: {{cards}}</p>
          <p>

            <a href="/">← Back To Home</a>
            <a href="/addReceipt/{{{id}}}">Add Receipt</a>
        </div>
      </div>
    </div>
  </div>
</div>
