<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">SETTING</h5>
          
          <p>
            <strong>Username</strong>: {{username}}</p>
          <p>
          
          <p>
            <strong>Password</strong>: {{password}}</p>
          <p>

            <a href="/">← Back To Home</a>
            <a href="/addReceipt/:id">Add Receipt</a>
            <a href="/viewReceipt/:id">View Receipts</a 
        </div>
      </div>
    </div>
  </div>
</div>
